*{
    box-sizing: border-box;
    margin: auto;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;

}
.logo{
    width: 100px;
    height: 100px;
    margin: 50px;
}


Nav.Link{
    margin: 20px;

}