*{
    box-sizing: border-box;
    margin: auto;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;

}
h1{
    font-size: 20px;
    text-align: start;
    margin-top: auto;
}


Nav.Link{
    margin: 20px;

}